{% extends "base.html" %} {% block title %}Home | My Portfolio{% endblock %} {% block content %}
<section class="bg-black shadow-md rounded-lg p-6 mb-8">
	<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
		<div class="bg-black p-4 rounded-lg shadow-md">
			<h2 class="text-xl text-white font-bold mb-2">About Me</h2>
			<p class="text-white">
				I have been working as a web developer for over 5 years. I have
				experience working with clients from different industries and
				developing websites and web applications that meet their needs.
			</p>
		</div>
		<div class="bg-black p-4 rounded-lg shadow-md">
			<h2 class="text-xl text-white font-bold mb-2">My Skills</h2>
			<ul class="text-white">
				<li>HTML</li>
				<li>CSS</li>
				<li>JavaScript</li>
				<li>Python</li>
				<li>React</li>
				<li>Django</li>
			</ul>
		</div>
	</div>
</section>
{% endblock %}
